@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Knewave&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Neuton:ital,wght@0,200;0,300;0,400;0,700;0,800;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Audiowide&family=Bahiana&family=Lily+Script+One&family=Luckiest+Guy&family=Tilt+Prism&display=swap');

html {
    scroll-behavior: smooth;
    padding: 0 !important;
    margin: 0 !important;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #f3f3f3;
    font-family: 'Outfit', sans-serif;
    padding: 0 !important;
    margin: 0 !important;
}

header {
    width: 100%;
    padding: 1.5rem 0;
    position: relative;
    overflow: hidden;
}

header .hdr {
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .hdr .regard h2 {
    font-size: 1.25rem;
    font-weight: 600;
}

header .hdr .icon_ham button {
    outline: none;
    display: inline-flex;
    align-self: center;
    justify-content: center;
    border: none;
    font-size: 1.5rem;
    background-color: transparent;
}

main {
    position: relative;
    width: 100%;
    height: calc(85vh - 10px);
    overflow-y: scroll;
    scrollbar-width: thin;
}

main .ticket-list .phrase {
    width: 100%;
    height: auto;
}

main .ticket-list .phrase h4 {
    font-size: 1rem;
    font-weight: 500;
}

main .ticket-list {
    width: 90%;
    height: auto;
    margin: 1.5rem auto;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 20px;
}

main .ticket-list .ticket {
    width: calc(50% - 10px);
    border-radius: .625rem;
    min-height: 250px;
    height: 280px;
    max-height: 320px;
    overflow: hidden;
    box-shadow: 0 0 50px rgba(99, 99, 99, 0.1);
    background-color: #fff;
    position: relative;
}

main .ticket-list .ticket::before {
    position: absolute;
    content: "";
    z-index: 5;
    top: calc(50% - 5px);
    left: -20px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: #f3f3f3;
}

main .ticket-list .ticket::after {
    position: absolute;
    content: "";
    z-index: 5;
    top: calc(50% - 5px);
    right: -20px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: #f3f3f3;
}

main .ticket-list .ticket .img_tick {
    width: 100%;
    background: linear-gradient(180deg, #60F855 0%, #389232 100%);
    display: flex;
    align-items: center;
    justify-content: center;
}

/*code que ayuda a cambiar el color de los tickets*/
main .ticket-list .ticket.active2 .img_tick {
    background: linear-gradient(180deg, #000000 0%, #3B0707 100%);
}

main .ticket-list .ticket.active3 .img_tick {
    background: linear-gradient(180deg, #ffffff 0%, #7CDCFF 100%);
}

main .ticket-list .ticket.active4 .img_tick {
    background: linear-gradient(180deg, #F9C90A 0%, #F95050 25%, #9FDF50 50%, #9D6203 75%, #F9C90A 100%);
}

main .ticket-list .ticket.active5 .img_tick {
    background: linear-gradient(180deg, #1D0123 0%, #000 100%);
}

main .ticket-list .ticket.active6 .img_tick {
    background: linear-gradient(180deg, #260102 0%, #000 100%);
}

main .ticket-list .ticket.active7 .img_tick {
    background: linear-gradient(180deg, #000 0%, #CF7105 100%);
}
main .ticket-list .ticket.active7 .img_tick img{
    min-width: 135%;
    transform: scale(.6);
    object-fit: cover;
    vertical-align: top;
    object-position: center;
}

main .ticket-list .ticket.active8 .img_tick {
    background: linear-gradient(180deg, #b09c73 0%, #5e3d18 100%);
}

/**/

main .ticket-list .ticket .img_tick img {
    width: calc(70% - 5px);
    height: 150px;
    min-height: 120px;
    max-height: 170px;
    vertical-align: top;
    object-fit: cover;
    transform: scale(.8);
    object-position: center;
}

main .ticket-list .ticket .desc {
    width: 80%;
    margin: 1.25rem auto;
    position: relative;
}

main .ticket-list .ticket .desc::after {
    content: "Ver Detalles";
    position: absolute;
    font-size: .75rem;
    bottom: 5px;
    font-weight: 500;
    right: 0;
}

main .ticket-list .ticket .desc h4 {
    font-weight: 600;
    text-transform: capitalize;
}

main .ticket-list .ticket .desc .couinf p {
    margin-top: .25rem;
    font-weight: 300;
    font-size: .875rem;
    line-height: 1.5rem;
}

main .ticket-list .ticket .desc .couinf p strong {
    font-size: .75rem;
    font-weight: 500;
    padding: .25rem;
    color: #fff;
    border-radius: 1rem;
    background-color: #02bd49;
}

footer {
    width: 100%;
    overflow: hidden;
    position: fixed;
    z-index: 10;
    bottom: 0;
    margin: .5rem 0;
    overflow: hidden;
}

footer .tab_nav {
    width: 90%;
    background-color: #ffffff30;
    border: 1px solid #dfdfdf;
    border-radius: 2.5rem;
    margin: auto;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    padding: .5rem 0;
}

footer .tab_nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

footer .tab_nav ul li a {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    justify-content: center;
    background-color: transparent;
    transition: .3s ease all;
    padding: .5rem 1.75rem;
    border-radius: 2rem;
    color: #000;
    flex-direction: column;
}

footer .tab_nav ul li a:hover,
footer .tab_nav ul li a.active {
    background-color: #f8e0e0a3;
}

footer .tab_nav ul li a i {
    font-size: 1.625rem;
}

footer .tab_nav ul li a span {
    font-size: .75rem;
}

/*overlay apart*/
.overlay_modal {
    position: fixed;
    width: 100%;
    height: 100%;
    opacity: 0;
    top: calc(100% + 20px);
    transition: .4s ease all;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 25;
}

.overlay_modal .modal {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

/*super personalización de tickets*/
.overlay_modal .modal .item {
    width: 100%;
    position: absolute;
    gap: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    top: -30px;
}

.overlay_modal .modal .item img {
    width: calc(50% - 20px);
    object-fit: cover;
    z-index: 50;
    object-position: center;
    vertical-align: top;
}

.overlay_modal .modal .item img:nth-child(1) {
    transform: rotate(200deg) scale(1.2);
}

.overlay_modal .modal .item img:nth-child(2) {
    transform: rotate(115deg) scale(1.2);
}

.overlay_modal .modal .item:nth-child(2),
.overlay_modal .modal .item:nth-child(3),
.overlay_modal .modal .item:nth-child(4),
.overlay_modal .modal .item:nth-child(5),
.overlay_modal .modal .item:nth-child(6) {
    display: none;
}

.overlay_modal.active2 .modal .item:nth-child(1),
.overlay_modal.active2 .modal .item:nth-child(1) {
    display: none;
}

.overlay_modal.active2 .modal .item:nth-child(2) {
    display: flex;
}

.overlay_modal.active2 .modal .item:nth-child(2) img:nth-child(1) {
    position: relative;
    right: 120px;
    transform: rotate(180deg) scale(1.1);
    z-index: 10;
}

.overlay_modal.active3 .modal .item:nth-child(1),
.overlay_modal.active3 .modal .item:nth-child(1) {
    display: none;
}

.overlay_modal.active3 .modal .item:nth-child(3) {
    display: flex;
}

.overlay_modal.active3 .modal .item:nth-child(3) img:nth-child(1) {
    position: relative;
    right: -100px;
    transform: rotate(10deg);
    z-index: 10;
}

.overlay_modal.active4 .modal .item:nth-child(1),
.overlay_modal.active4 .modal .item:nth-child(1) {
    display: none;
}

.overlay_modal.active4 .modal .item:nth-child(4) {
    display: flex;
}

.overlay_modal.active4 .modal .item:nth-child(4) img:nth-child(1) {
    position: relative;
    top: 100px;
    transform: rotate(180deg) scale(1.1);
    z-index: 10;
}

.overlay_modal.active5 .modal .item:nth-child(1),
.overlay_modal.active5 .modal .item:nth-child(1) {
    display: none;
}

.overlay_modal.active5 .modal .item:nth-child(5) {
    display: flex;
}

.overlay_modal.active5 .modal .item:nth-child(5) img:nth-child(1) {
    position: relative;
    transform: rotate(90deg) scale(1.25);
    z-index: 10;
    top: 100px;
}

.overlay_modal.active6 .modal .item:nth-child(1),
.overlay_modal.active6 .modal .item:nth-child(1) {
    display: none;
}

.overlay_modal.active6 .modal .item:nth-child(6) {
    display: flex;
}

.overlay_modal.active6 .modal .item:nth-child(6) img:nth-child(1) {
    width: calc(100% - 10px);
    position: relative;
    transform: rotate(-90deg) scale(1.1);
    z-index: 20;
}

.overlay_modal.active7 .modal .item:nth-child(1),
.overlay_modal.active7 .modal .item:nth-child(1) {
    display: none;
}

.overlay_modal.active8 .modal .item:nth-child(1),
.overlay_modal.active8 .modal .item:nth-child(1) {
    display: none;
}

/**/
.overlay_modal .modal .itemdw {
    width: 100%;
    position: absolute;
    z-index: 50;
    gap: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    bottom: -30px;
}

.overlay_modal .modal .itemdw img {
    width: calc(50% - 20px);
    object-fit: cover;
    position: relative;
    object-position: center;
    vertical-align: top;
}

.overlay_modal .modal .itemdw img:nth-child(1) {
    transform: rotate(45deg) scale(1.2);
    left: -50px;
}

.overlay_modal .modal .itemdw img:nth-child(2) {
    transform: rotate(-45deg) scale(1.2);
    right: -50px;
}

.overlay_modal .modal .itemdw:nth-child(9),
.overlay_modal .modal .itemdw:nth-child(10),
.overlay_modal .modal .itemdw:nth-child(11),
.overlay_modal .modal .itemdw:nth-child(12),
.overlay_modal .modal .itemdw:nth-child(13),
.overlay_modal .modal .itemdw:nth-child(14),
.overlay_modal .modal .itemdw:nth-child(15) {
    display: none;
}

.overlay_modal.active2 .modal .itemdw:nth-child(8),
.overlay_modal.active2 .modal .itemdw:nth-child(8) {
    display: none;
}

.overlay_modal.active2 .modal .itemdw:nth-child(9) {
    display: flex;
}

.overlay_modal.active2 .modal .itemdw:nth-child(9) img:nth-child(1) {
    width: calc(70% - 20px);
    transform: scale(1) rotate(0deg);
    left: 100px;
    bottom: -5px;
}

.overlay_modal.active3 .modal .itemdw:nth-child(8),
.overlay_modal.active3 .modal .itemdw:nth-child(8) {
    display: none;
}

.overlay_modal.active3 .modal .itemdw:nth-child(10) {
    display: flex;
    z-index: 40;
}

.overlay_modal.active3 .modal .itemdw:nth-child(10) img:nth-child(1) {
    width: calc(50% - 10px);
    transform: scale(.95) rotate(10deg);
    left: -170px;
    bottom: -10px;
}

.overlay_modal.active4 .modal .itemdw:nth-child(8),
.overlay_modal.active4 .modal .itemdw:nth-child(8) {
    display: none;
}

.overlay_modal.active4 .modal .itemdw:nth-child(11) {
    display: flex;
    z-index: 20;
}

.overlay_modal.active4 .modal .itemdw:nth-child(11) img:nth-child(1) {
    width: calc(70% - 20px);
    transform: scale(1.2) rotate(0deg);
    left: -120px;
    bottom: 25px;
}

.overlay_modal.active5 .modal .itemdw:nth-child(8),
.overlay_modal.active5 .modal .itemdw:nth-child(8) {
    display: none;
}

.overlay_modal.active5 .modal .itemdw:nth-child(12) {
    display: flex;
    z-index: 20;
}

.overlay_modal.active5 .modal .itemdw:nth-child(12) img:nth-child(1) {
    width: calc(70% - 20px);
    transform: scale(1.2) rotate(0deg);
    left: calc(10% - 40px);
    bottom: 25px;
}

.overlay_modal.active6 .modal .itemdw:nth-child(8),
.overlay_modal.active6 .modal .itemdw:nth-child(8) {
    display: none;
}

.overlay_modal.active6 .modal .itemdw:nth-child(13) {
    display: flex;
    z-index: 20;
}

.overlay_modal.active6 .modal .itemdw:nth-child(13) img:nth-child(1) {
    width: calc(50% - 20px);
    transform: scale(1.2) rotate(0deg);
    left: 100px;
    bottom: 25px;
}

.overlay_modal.active7 .modal .itemdw:nth-child(8),
.overlay_modal.active7 .modal .itemdw:nth-child(8) {
    display: none;
}

.overlay_modal.active7 .modal .itemdw:nth-child(14) {
    display: flex;
    z-index: 20;
}

.overlay_modal.active7 .modal .itemdw:nth-child(14) img:nth-child(1) {
    width: calc(100% - 55px);
    transform: scale(1.2) rotate(0deg);
    left: 10px;
    bottom: 50px;
}

.overlay_modal.active8 .modal .itemdw:nth-child(8),
.overlay_modal.active8 .modal .itemdw:nth-child(8) {
    display: none;
}

.overlay_modal.active8 .modal .itemdw:nth-child(15) {
    display: flex;
    z-index: 20;
}

.overlay_modal.active8 .modal .itemdw:nth-child(15) img:nth-child(1) {
    width: calc(70% - 55px);
    transform: scale(.8);
    right: 1000px;
    top: 0px;
}

.overlay_modal.active8 .modal .itemdw:nth-child(15) img:nth-child(1) {
    width: calc(70% - 55px);
    transform: scale(.8);
    top: -250px;
    left: 130px;
}

.overlay_modal.active8 .modal .itemdw:nth-child(15) img:nth-child(2) {
    width: calc(70% - 55px);
    transform: scale(1.2);
    left: 0;
    top: -160px;
}

.overlay_modal.active8 .modal .itemdw:nth-child(15) img:nth-child(3) {
    width: calc(70% - 55px);
    transform: scale(.8) rotateY(180deg);
    left: -120px;
    bottom: 0px;
}

/*fin de sección super personzalible de tickets*/
.overlay_modal .modal .tickt_modal {
    width: 90%;
    height: 90%;
    position: relative;
    background-color: #fff;
    border-radius: 1rem;
    margin: auto auto;
    overflow: hidden;
    z-index: 30;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.overlay_modal .modal .tickt_modal::after {
    content: "";
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    background: rgba(99, 99, 99, 0.3);
    top: calc(50% + 20px);
    left: -20px;
    z-index: 50;
}

.overlay_modal .modal .tickt_modal::before {
    content: "";
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    background: rgba(99, 99, 99, 0.3);
    top: calc(50% + 20px);
    right: -20px;
    z-index: 50;
}

.overlay_modal .modal .tickt_modal .imgT {
    width: 100%;
    position: relative;
    margin-top: 3rem;
    height: calc(33% - 10px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.overlay_modal .modal .tickt_modal .imgT img {
    width: 100%;
    transform: scale(.8);
    object-position: center;
    object-fit: cover;
    opacity: 0;
    display: none;
    z-index: 40;
    vertical-align: top;
}

.overlay_modal .modal .tickt_modal .imgT h1 {
    width: 100%;
    font-weight: 500;
    font-size: 3rem;
    text-shadow: 0 4px 5px #02bd49;
    text-align: center;
    display: block;
    z-index: 60;
    text-transform: capitalize;
}

/*changing texttest and image for movies*/
.overlay_modal.active2 .modal .tickt_modal .imgT img {
    display: block;
}

.overlay_modal.active6 .modal .tickt_modal .imgT img {
    display: block;
    transform: rotate(90deg);
}

.overlay_modal.active7 .modal .tickt_modal .imgT img {
    display: block;
}

.overlay_modal.active3 .modal .tickt_modal .imgT h1,
.overlay_modal.active4 .modal .tickt_modal .imgT h1,
.overlay_modal.active6 .modal .tickt_modal .imgT h1,
.overlay_modal.active8 .modal .tickt_modal .imgT h1 {
    text-shadow: none;
}

.overlay_modal.active2 .modal .tickt_modal .imgT h1 {
    position: absolute;
    top: calc(50% - 22px);
    font-size: 2.5rem;
    font-weight: 600;
    text-align: center;
    display: block;
    letter-spacing: 2px;
    text-shadow: none;
}

.overlay_modal.active4 .modal .tickt_modal .imgT h1 {
    font-size: 2rem;
}

.overlay_modal.active5 .modal .tickt_modal .imgT h1 {
    position: absolute;
    top: calc(50% - 22px);
    font-size: 2.5rem;
    font-weight: 600;
    text-align: center;
    display: block;
    letter-spacing: 2px;
    text-shadow: 0 2px 20px #9900ff;
}

.overlay_modal.active6 .modal .tickt_modal .imgT h1 {
    position: absolute;
    top: calc(50% - 22px);
    font-size: 2.5rem;
    font-weight: 600;
    text-align: center;
    display: block;
    letter-spacing: 2px;
    z-index: 60;
    text-shadow: 0 0px 10px #df0030;
}

.overlay_modal.active7 .modal .tickt_modal .imgT h1 {
    position: absolute;
    top: calc(50% - 22px);
    font-size: 2.5rem;
    font-weight: 500;
    text-align: center;
    display: block;
    letter-spacing: 2px;
    z-index: 60;
    color: #CF7105;
    -webkit-text-stroke: 1px #000;
    text-shadow: 0 0 10px #000000bd;
}
.overlay_modal.active8 .modal .tickt_modal .imgT h1 {
    position: absolute;
    top: calc(50% - 22px);
    font-size: 2.5rem;
    font-weight: 500;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 2px;
    z-index: 60;
    color: #F5DAB1;
}

/*end change texttest styles*/
.overlay_modal .modal .tickt_modal .tInfo {
    display: flex;
    width: 80%;
    margin: auto;
    position: relative;
    height: calc(33% - 10px);
}

.overlay_modal .modal .tickt_modal .tInfo .dataC {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}

.overlay_modal .modal .tickt_modal .tInfo .dataC p {
    font-size: .75rem;
    text-align: justify;
    margin-bottom: .5rem;
}

.overlay_modal .modal .tickt_modal .tInfo .dataC .splitData {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.overlay_modal .modal .tickt_modal .tInfo .dataC .splitData p {
    min-width: 50%;
    display: block;
    font-size: .75rem;
    text-align: left;
    line-height: 1rem;
}

.overlay_modal .modal .tickt_modal .btlnks {
    width: 100%;
    height: calc(33% - 10px);
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}

.overlay_modal .modal .tickt_modal .btlnks button,
.overlay_modal .modal .tickt_modal .btlnks button a {
    height: auto;
    padding: .5rem 3rem;
    outline: none;
    background-color: #02bd49;
    border: none;
    border-radius: 30px;
    position: absolute;
    font-weight: 400;
    font-family: inherit;
    top: calc(50% - 10px);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    z-index: 60;
    text-decoration: none;
}

/*comienza clase active para el overlay y cambios dinamicos de colores*/
.overlay_modal.active1,
.overlay_modal.active2,
.overlay_modal.active3,
.overlay_modal.active4,
.overlay_modal.active5,
.overlay_modal.active6,
.overlay_modal.active7,
.overlay_modal.active8 {
    top: 0;
    opacity: 1;
}

.overlay_modal.active1 {
    background: linear-gradient(180deg, #60F855 0%, #389232 100%);
}

.overlay_modal.active2 {
    background: linear-gradient(180deg, #000000 0%, #3B0707 100%);
}

.overlay_modal.active3 {
    background: linear-gradient(180deg, #ffffff 0%, #7CDCFF 100%);
}

.overlay_modal.active4 {
    background: linear-gradient(180deg, #F9C90A 0%, #F95050 25%, #9FDF50 50%, #9D6203 75%, #F9C90A 100%);
}

.overlay_modal.active5 {
    background: linear-gradient(180deg, #1D0123 0%, #000 100%);
}

.overlay_modal.active6 {
    background: linear-gradient(180deg, #260102 0%, #000 100%);
}

.overlay_modal.active7 {
    background: linear-gradient(180deg, #000000 0%, #793C06 100%);
}

.overlay_modal.active8 {
    background: linear-gradient(180deg, #EAE1C7 0%, #FFD39D 100%);
}

.overlay_modal.active1 .modal .tickt_modal::after,
.overlay_modal.active1 .modal .tickt_modal::before {
    background: #49BF41;
}

.overlay_modal.active2 .modal .tickt_modal::after,
.overlay_modal.active2 .modal .tickt_modal::before {
    background: #230405;
}

.overlay_modal.active3 .modal .tickt_modal::after,
.overlay_modal.active3 .modal .tickt_modal::before {
    background: #B8ECFF;
}

.overlay_modal.active4 .modal .tickt_modal::after,
.overlay_modal.active4 .modal .tickt_modal::before {
    background: #9ECC44;
}

.overlay_modal.active5 .modal .tickt_modal::after,
.overlay_modal.active5 .modal .tickt_modal::before {
    background: #09000B;
}

.overlay_modal.active6 .modal .tickt_modal::after,
.overlay_modal.active6 .modal .tickt_modal::before {
    background: #0B0100;
}

.overlay_modal.active7 .modal .tickt_modal::after,
.overlay_modal.active7 .modal .tickt_modal::before {
    background: #462304;
}

.overlay_modal.active8 .modal .tickt_modal::after,
.overlay_modal.active8 .modal .tickt_modal::before {
    background: #F5DAB1;
}

/*ticket_bg*/
.overlay_modal.active1 .modal .tickt_modal {
    background-color: #dce611;
}

.overlay_modal.active2 .modal .tickt_modal {
    background-color: #ffffff99;
}

.overlay_modal.active3 .modal .tickt_modal {
    background: linear-gradient(180deg, #ffffff99 0%, #ede8e820 100%);
    backdrop-filter: blur(5px);
    border: 1px solid #fff;
}

.overlay_modal.active4 .modal .tickt_modal {
    background: linear-gradient(180deg, #F9C90A99 0%, #ede8e820 100%);
    backdrop-filter: blur(5px);
    border: 1px solid #000;
}

.overlay_modal.active5 .modal .tickt_modal {
    background: linear-gradient(180deg, #ffffff20 0%, #ede8e820 100%);
    backdrop-filter: blur(5px);
    border: 2px solid #9900ff;
    color: #fff;
}

.overlay_modal.active6 .modal .tickt_modal {
    background: linear-gradient(180deg, #18181890 0%, #ffffff30 100%);
    border: 2px solid #3B0707;
    color: #fff;
}

.overlay_modal.active7 .modal .tickt_modal {
    background: linear-gradient(180deg, #FFDFB330 0%, #FFDFB320 100%);
    border: 1px solid #CF7105;
    backdrop-filter: blur(3px);
    color: #fff;
}

.overlay_modal.active8 .modal .tickt_modal {
    background: linear-gradient(180deg, #5C452070 0%, #5C452070 100%);
    border: 2px solid #FFD39D;
    backdrop-filter: blur(3px);
    color: #fff;
}

/**/
.overlay_modal.active2 .modal .tickt_modal .btlnks button,
.overlay_modal.active2 .modal .tickt_modal .btlnks button a {
    background-color: #3B0707;
    color: #fff;
}

.overlay_modal.active3 .modal .tickt_modal .btlnks button,
.overlay_modal.active3 .modal .tickt_modal .btlnks button a {
    background-color: #7CDCFF;
    color: #fff;
}

.overlay_modal.active4 .modal .tickt_modal .btlnks button,
.overlay_modal.active4 .modal .tickt_modal .btlnks button a {
    background-color: #F95050;
    color: #fff;
}

.overlay_modal.active5 .modal .tickt_modal .btlnks button,
.overlay_modal.active5 .modal .tickt_modal .btlnks button a {
    background-color: #1D0123;
    color: #fff;
}

.overlay_modal.active6 .modal .tickt_modal .btlnks button,
.overlay_modal.active6 .modal .tickt_modal .btlnks button a {
    background-color: #000;
    color: #fff;
}

.overlay_modal.active7 .modal .tickt_modal .btlnks button,
.overlay_modal.active7 .modal .tickt_modal .btlnks button a {
    background-color: #CF7105;
    color: #000000;
}

.overlay_modal.active8 .modal .tickt_modal .btlnks button,
.overlay_modal.active8 .modal .tickt_modal .btlnks button a {
    background-color: #EAE1C7;
    color: #5C4520;
}

/**/

/*responsive design*/
@media screen and (max-width: 430px) {
    main {
        height: calc(81vh - 10px);
    }

    main .ticket-list .ticket .desc::after {
        content: "Ver Detalles";
        position: absolute;
        font-size: .625rem;
        bottom: 5px;
        font-weight: 500;
        right: 0;
    }

    main .ticket-list .ticket h4 {
        font-size: .875rem;
    }

    main .ticket-list .ticket .desc .couinf p {
        font-size: .75rem;
    }

    main .ticket-list .ticket .desc .couinf p strong {
        font-size: .625rem;
    }

    .overlay_modal .modal .tickt_modal .btlnks button,
    .overlay_modal .modal .tickt_modal .btlnks button a {
        top: calc(50% - 30px);
    }

    .overlay_modal .modal .tickt_modal .imgT h1 {
        font-size: 2.125rem;
    }

    .overlay_modal.active1 .modal .tickt_modal .imgT h1 {
        font-size: 2.125rem;
        width: 70%;
        margin: auto;
    }

    .overlay_modal.active2 .modal .tickt_modal .imgT img {
        transform: scale(.7);
    }

    .overlay_modal.active6 .modal .tickt_modal .imgT img {
        transform: rotate(90deg) scale(.85);
    }

    .overlay_modal.active2 .modal .tickt_modal .imgT h1 {
        font-size: 2.125rem;
        top: calc(50% - 15px);
    }
}

@media screen and (max-height: 852px) {
    main {
        height: calc(70vh - 10px);
    }

    .overlay_modal .modal .tickt_modal .btlnks button,
    .overlay_modal .modal .tickt_modal .btlnks button a {
        top: calc(45% - 20px);
    }
}